.main{
  border: 2px solid red;
  background-color: rgb(56, 194, 56);
}

.outline{
  width: 40%;
  padding-top: 30px ;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-left: 300px;
  margin-right: 100px;
  margin-top: 150px;
  margin-bottom: 200px;
  align-items: center;
  align-content: center;
  background-color: white;
  border: 1px solid green;
  border-radius: 15px;
  color: green;
  
}

button{
  background-color: rgb(56, 194, 56);
  color: white;
}
