@media (min-width: 992px) {
    .outline{
        background-color: rgba(26, 91, 230, 0.966);
        margin: 10px;
        padding-top: 20px;
        padding-bottom: 100px;
    }
    .row{
      border-radius: 500px;
    }

    .row :hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
}
  